HOST_IP=0.0.0.0
DOMAIN=http://localhost
PORT=5002
FRONTEND_ORIGIN=http://localhost:5173,http://192.168.29.160:5173,https://zeaboard.zeacrm.com

DATABASE_URL=postgresql://user:password@host:5432/database

GHL_API_BASE_URL=https://services.leadconnectorhq.com
GHL_API_VERSION=2021-07-28
GHL_WEBHOOK_SECRET=
PUBLIC_WEBHOOK_DOMAIN=https://zeaboard.zeacrm.com
GHL_WEBHOOK_PATH=/api/webhooks/ghl
